.disk1{
  height: 60px;
  width: 60px;
  margin: auto 20px;
  object-fit: contain;
  border-radius: 35px;
  animation: turn 5s linear; 
  animation-iteration-count: infinite;
}
@keyframes turn{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
#buttonPlay{
  color: #fff;
  font-size: 39px;
}
#buttonSkip, #buttonReturn{
  font-size: 32px;
}

